@
@{
    ViewBag.Title = "PopuniOsobu";
}

<h2>PopuniOsobu</h2>
<div>
    <form>
        <div>
            <label>Ime:</label>
            <input type="text" name="Ime" />
        </div>
        <div>
            <label>Prezime:</label>
            <input type="text" name="Prezime" />
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="Email" />
        </div>
        <div>
            <label>Datum rođenja:</label>
            <input type="text" name="DatumRodjenja" />
        </div>
        <div>
            <button type="submit">Pošalji</button>
        </div>
    </form>
</div>

