@model HelloWorld.Models.Osoba
@{
    ViewBag.Title = "FormHelper";
}

<h2>FormHelper</h2>
@foreach (var item in ViewBag.Mjesta)
{
    @item
}
@using (Html.BeginForm())
{
    <div>
        <label for="Ime">Ime:</label>
        @Html.TextBox("Ime",Model.Ime)
    </div>
    <div>
        <label for="Prezime">Prezime:</label>
        @Html.TextBox("Prezime", Model.Prezime)
        <div>
            <label for="Email">Email:</label>
            @Html.TextBox("Email", Model.Email)
        </div>
        <div>
            <label for="MjestoStanovanja">MjestoStanovanja:</label>
            @Html.DropDownList("MjestoStanovanja", 
           new SelectList((string[])ViewBag.Mjesta), "--Odaberi--")
        </div>
    </div>
}
